body {
  font-family: 'Pretendard';
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #0D1117, #2c354d); /*블랙+네이비*/
  color: white;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #ff6f61;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 20px; /* 버튼 사이 간격 추가 */
}

button:hover {
  background-color: #2800c6;
}

button:active {
  background-color: #007508;
}

.hidden {
  display: none;
}

#message {
  margin-top: 20px;
  font-size: 1.2rem;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0; /* 선택 사항 */
    font-size: 14px; /* 선택 사항 */
  
}
.hidden {
  display: none;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: #000;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
}

.popup-content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.popup-content p {
  margin: 10px 0;
}

#closePopup {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

#closePopup:hover {
  background-color: #0056b3;
}
