/* Planet Kosmos 폰트 설정 */
@font-face {
  font-family: 'PlanetKosmos'; /* 폰트 이름 설정 */
  src: url('font/PLANK___.ttf') format('truetype'); /* 로컬 경로로 PlanetKosmos.ttf 지정 */
  font-weight: normal;
  font-style: normal;
}

/* 기본 스타일링 */
@font-face {
  font-family: 'SnakeChanFont'; /* SnakeChanFont 이름 설정 */
  src: url('font/SnakeChan-YdV8.ttf') format('truetype'); /* SnakeChanFont 로컬 경로 */
  font-weight: normal;
  font-style: normal;
}

/* 폰트 적용 */
body {
  background: linear-gradient(to bottom, #b6dcff 0%, #b9b6e5 60%, #7571b8 100%);
  font-family: 'SnakeChanFont', 'GowunBatang-Regular', Arial, sans-serif; /* SnakeChanFont 우선 사용 */
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* 'ZET GAME' 제목 스타일 */
.zet-game {
  font-family: 'PLANK___', sans-serif; /* PlanetKosmos 폰트 적용 */
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 20px;
}

/* 버튼 스타일에 폰트 적용 */
.action-button {
  font-family: 'SnakeChanFont', 'GowunBatang-Regular', Arial, sans-serif; /* 버튼에도 SnakeChanFont 적용 */
  background-color: #4f4f9b;
  color: white;
  font-size: 16px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
  outline: none;
}

.action-button:hover {
  background-color: #3e3e7e;
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.4);
}

/* 로고 스타일 */
.logo-container {
  position: absolute;
  top: 20px;
  left: 40px;
}

.logo {
  width: 150px;
  height: auto;
}

/* 버튼 컨테이너 */
.button-container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 20px;
  margin-top: 100px;
  justify-content: center;
}

/* 팝업 스타일 */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 팝업 내 버튼 스타일 */
.popup .action-button {
  width: auto;
}

/* 팝업 내용 스타일 */
.popup-content {
  text-align: left;
}

/* 숨김 처리 */
.hidden {
  display: none;
}

/* 팝업 닫기 버튼 */
.close-popup {
  border: none;
  text-align: center;
  background-color: #56a7d1;
  color: white;
  padding: 12px 30px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 180px;
}

.close-popup:hover {
  background-color: #218838;
}

/* 푸터 스타일 */
.footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #555;
}
